@page "/"
@using Disboard.Shared
@inject HttpClient Http

@if (_schedule == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (Day day in _schedule.Week)
        {
            <div class="col">
                <h3>@day.Name</h3>
                <div class="d-flex flex-wrap">
                    @foreach (Episode episode in day.Episodes)
                    {
                        <div class="border w-100">
                            <img class="img-thumbnail" src="@episode.ImgUrl" alt="@episode.AnimeId" />
                        </div>
                    }
                </div>
            </div>

        }
    </div>
}

<div class="row">
    <div class="col">
        <h2>Populares</h2>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private Schedule _schedule;

    protected override async Task OnInitializedAsync()
    {
        _schedule = await Http.GetFromJsonAsync<Schedule>("Schedule");
    }
}
