@page "/"
@using Disboard.Shared
@inject HttpClient Http

@if (_scheduleDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (DayDto day in _scheduleDto.Week)
        {
            <div class="col">
                <h3>@day.Name</h3>
                <div class="d-flex flex-wrap">
                    @foreach (AnimeDto animeDto in day.Animes)
                    {
                        EpisodeDto lastEpisode = animeDto.Episodes.Single();

                        <div class="border w-100">
                            <img class="img-thumbnail" src="@animeDto.ImgUrl" alt="@lastEpisode.Name" />
                        </div>
                    }
                </div>
            </div>

        }
    </div>
}

<div class="row">
    <div class="col">
        <h2>Populares</h2>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private ScheduleDto _scheduleDto;

    protected override async Task OnInitializedAsync()
    {
        _scheduleDto = await Http.GetFromJsonAsync<ScheduleDto>("Schedule");
    }
}
