<div class="row text-center">
    <div class="col-2">
        <h6>Mis Recomendados</h6>
    </div>
    <div class="col-8">
        <h4>Ningún vídeo se encuentra alojado en nuestros servidores</h4>
    </div>
    <div class="col-2">
        <h6>Twitter</h6>
    </div>
</div>
