@inherits LayoutComponentBase

<header class="sticky-top">
    <TopMenu />
</header>

<main class="container-fluid">
    @Body
</main>

<footer class="container-fluid">
    <BottomMenu />
</footer>
